venv/
/.idea
/splicemachine/spark/test/__pycache__/context_it.cpython-36.pyc
/splicemachine/spark/__pycache__/__init__.cpython-36.pyc
/splicemachine/__pycache__/__init__.cpython-36.pyc
/.DS_Store
/splicemachine/.DS_Store
/splicemachine/spark/.DS_Store
/splicemachine/spark/test/.DS_Store
/splicemachine/spark/__pycache__/context.cpython-36.pyc
/splicemachine/spark/__pycache__/test_context.cpython-36.pyc
/splicemachine/spark/__pycache__/utils.cpython-36.pyc
/splicemachine/spark/test/nose2-junit.xml
/splicemachine/spark/test/resources/.DS_Store
/splicemachine/spark/test/resources/spark2.2/.DS_Store
/splicemachine/spark/test/resources/spark2.2/python/.DS_Store
/.vscode
**/*.DS_Store
splicemachine/.DS_Store
.ipynb_checkpoints/
**/*.pyc
*.pyc
*.pyo
**/__pycache__
splicemachine/stats/test/
splicemachine/stats/utilities.pyc
./splicemachine/ml/.vscode/
