py4j
pytest
mlflow==1.8.0
pyyaml==5.3.1
graphviz
requests
gorilla==0.3.0
tqdm
pyspark-dist-explore==0.1.8
numpy
pandas
scipy
tensorflow>=2.0
pyspark
h2o-pysparkling-3.0
h2o
sphinx-tabs
IPython
cloudpickle==1.6.0
